html{
    height: 100%;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    min-height: 100%;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
.blue-color{
    color: #4071f4;
}
.top-padding{
    border-left: 4px solid;
    /* border-image: linear-gradient(tomato, tomato); */
    border-color: cadetblue;
    line-height: 30px;
    padding-top: 80px;
    
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
 }


.half-width{
    width: 50%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: #4071f4;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
/*Mission 2022 Section Start from here*/
.top-padding{
    padding-top: 50px;
    line-height: 15px;
    
}
.Mission-width{
   
    width: 31%;
    margin-left: 3%;
    float: left;
    border-radius: 3%;
}
.Mission-width img{
    width: 20%;
}
.Mission-2022{
    margin-left: 3%;
    margin-right: 3%;
}
.Mission-2022 h1{
    text-align: center;
}
.Mission{
    padding-left: 0%;
    margin-left: 0%;
    background-color: #EDF5F6;
}
.Vission{
    background-color: #ffeeee;
}
.Goals{
    background-color: #fff4d6;
}
.for-padding{
    padding-left: 3%;
    padding-top: 0%;
}
.img-padding{
    padding-left: 2%;
    padding-top: 5%;
}
.coding-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: left;
}
.project-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 0%;
}
/*Mission 2022 Section End is here*/


 /*
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-bg{
    background-image: url(imageS/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 10px 15px 40px black;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;   
}
*/
/* footer{
    background-color: yellow;
}
footer h2{
    text-align: center;
    font-style: white;
}
footer p{
    text-align: center;
    font-style: white;
} */
/* Footer Section Start from here */
.footer-section{
    text-align: center;
    background-color: #0b0d17;
    color: white;
    padding:10px 0px 15px 0px;
}
.footer-section span{
    color: #4071f4;
}
/* Footer Section End */