html{
    height: 100%;
}
body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins',sans-serif;
    margin: 0px;
    min-height: 100%;
    /* overflow-x: hidden; */

}
section{
    /* display: flex; */

}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
.blue-color{
    color: #4071f4;
}
.top-padding{
    border-left: 4px solid;
    /* border-image: linear-gradient(tomato, tomato); */
    border-color: #4071f4;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
 }


.half-width{
    width: 50%;
    float: left;
    margin-left: 2;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: #4071f4;
    padding: 5px 15px;
    color: white;
    font-weight: 200;
    border-radius: 5px;
}
/*Mission 2022 Section Start from here*/
.top-padding{
    padding-top: 0px;
    line-height: 35px;
    
}
.Mission-width{
   
    width: 31%;
    margin-left: 3%;
    float: left;
    border-radius: 3%;
}
.Mission-width img{
    width: 20%;
}
.Mission-2022{
    margin-top: -80px;
    margin-left: 3%;
    margin-right: 3%;
}
.Mission-2022 h1{
    text-align: center;
}
.Mission{
    padding-left: 0%;
    margin-left: 0%;
    background-color: #EDF5F6;
}
.Mission h2{
    margin: 0px;
}
.Vission{
    background-color: #ffeeee;
}
.Vission h2{
    margin: 0px;
}
.Goals{
    background-color: #fff4d6;
}
.Goals h2{
    margin: 0px;
}
.for-padding{
    padding-left: 3%;
    padding-top: 0%;
}
.img-padding{
    padding-left: 2%;
    padding-top: 5%;
}
.coding-section{
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: left;
}
.coding-content{
    padding-top: 60px;
    margin-left: -250px;
}
.coding-content p{
    width: 700px;
}
.coding-content h2{
    margin: 0px;
}
.project-section{
    
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-position: bottom -25px right 100px;
    padding-right: 0%;
}
.project-section img{
    margin-left: 100px;
}
.project-content{
    padding-top: 60px;
}
.project-content h2{
    margin: 0px;
}
.project-content p{
    width: 700px;
}

/*Mission 2022 Section End is here*/

/* Contact Us section start from here */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: 5vh auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px #4071f4;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    border-radius: 15px;
    border: none;
    background: rgb(235, 228, 228);
}
input[type=submit]{
    margin: 10px auto;
    width: 120px;
    background: #4071f4;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
background: tomato;
}
@media screen and (max-width:900px) {
        .container{
        width: 100%;
    }
}
.Contact-us{
    text-align: center;
}
/* contact us section end from here */

/* Footer Section Start from here */
.footer-section{
    font-family: Lobster;
    text-align: center;
    background-color: #0b0d17;
    color: white;
    padding:10px 0px 15px 0px;
}
.footer-section p{
    font-family: poppin;
}
.footer-section span{
    color: #4071f4;
}
/* Footer Section End */